the_premium_workflow_.json
{
  "name": "the premium workflow",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Set File ID').item.json.body.user_id }}"
              }
            ]
          }
        }
      },
      "id": "743fc1fc-8f37-4330-98a3-38988a6d9a55",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1980,
        1200
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "adc6e90f-1e34-4697-9314-2ab7d773f515",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a File to Vector DB",
        "height": 1147,
        "width": 4213,
        "color": 5
      },
      "id": "21132896-39b3-4460-800c-26d7cba168b2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1760,
        420
      ]
    },
    {
      "parameters": {},
      "id": "f004d650-372a-46b1-8ac0-fc557271978a",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -600,
        160
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "4ff6e051-34d6-4552-8c56-38fa72323d36",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1140,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gFUmDEjXerzgJNuH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.body.file_id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.body.mime_type }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.body.file_name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.body.file_path }}",
              "type": "string"
            },
            {
              "id": "bb7aae77-c2ae-49a7-b2b7-320613832f19",
              "name": "body.user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2f0d862b-297e-41e2-90af-91e56655b43b",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        820
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "f591257f-bac8-4bb5-8edd-1c92dbe4fa68",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d6bd2266-1aa0-4382-9bf4-02f89e7a4816",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "98b63c1a-6305-41ae-9809-7a20e83a9cf3",
              "name": "userId",
              "value": "={{ $json.metadata.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d0f38f4-968e-472f-8106-4fd636b35c3e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        -60
      ]
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "bff02dcc-ee11-4ec2-b0c2-3cfdee9b00db",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1000,
        -60
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9ce5db7c-eb30-4916-8e66-1e355bb1a6e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        120
      ],
      "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ok8HWlLKaWxiSDnU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "524eea25-ca61-4b44-a771-ebadc8dd3719",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        440
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2e4185ec-2901-4e0a-a9eb-bae18f8d5588",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "chunkSize": 5000
      },
      "id": "219cfc7b-a498-44c4-b0eb-106ed5634b7a",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1840,
        1320
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e8e2f5fd-2052-4648-8194-f441fec45076",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1220,
        820
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\n**You have an assigned user ID for filtering document access. All document retrieval and processing MUST be strictly limited to files associated with this assigned user ID. Do NOT mention the user ID in your responses to the user.**\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\n**When using any tool that accesses the 'documents', 'document_metadata', or 'document_rows' tables, you MUST include a filter for your assigned user ID in your query or tool parameters. You are NOT permitted to bypass this filter or access data outside of the scope of your assigned user ID.**\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."
        }
      },
      "id": "67d9b170-e551-44cb-8df9-86809023251f",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -520,
        -60
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab3b17ac-b980-40a4-bd8a-00a9eb8ac5ac"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}\n\n\n",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\n\n\n",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document\n\n",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "9b643989-2521-44c6-a5cc-861f6a0207c9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        700
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "b539915f-8432-483e-8c2f-bf2f2614ed8d",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1780,
        940
      ],
      "credentials": {
        "supabaseApi": {
          "id": "gFUmDEjXerzgJNuH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "4f094776-6df2-4e40-8f86-b41fc7e3b950",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        700
      ],
      "id": "c674e2ad-bdda-4555-9448-17eb82aebc17",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        780
      ],
      "id": "2588d3de-f6d7-48cd-8eb3-f8ddc6392188",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1480,
        120
      ],
      "id": "a2ce77e8-3e0a-4834-b29f-7a81a88e36b8",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1260,
        120
      ],
      "id": "03618064-6904-4b33-814b-418561fdbb59",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents based on the user's id, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -460,
        160
      ],
      "id": "e75c3b91-48c7-47cb-9f54-3499856f9e53",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -320,
        160
      ],
      "id": "815224d7-6dba-44b0-91a7-002abe2055d9",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -160,
        160
      ],
      "id": "98797cd4-0df9-4cb5-a21b-06e808147bd5",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        160,
        -60
      ],
      "id": "2426bb62-0058-43a5-b2af-5fd99d669fc1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "gFUmDEjXerzgJNuH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1480,
        620
      ],
      "id": "ba4b0a93-ffaa-4f31-bbfd-47b2c9609ac0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1680,
        120
      ],
      "id": "e49711cb-e77b-4556-8a69-21ed0b4f3703",
      "name": "Create Documents Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -980,
        820
      ],
      "id": "416d52a0-f0c6-4f2e-8720-62ee44ccc6d0",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "gFUmDEjXerzgJNuH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}",
            "user_id": "={{ $('Set File ID').item.json.body.user_id }}",
            "created_at": "={{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -740,
        660
      ],
      "id": "df3dbeab-437e-4087-9d6a-d7d8d018e600",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        800
      ],
      "id": "8039bcf4-376a-4696-9dd9-1d987027f1c0",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1980,
        700
      ],
      "id": "245a9bec-0811-4233-b4c8-128277b1dbc9",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "L9zbMUtFkj5ESAwm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1320,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2320,
        80
      ],
      "typeVersion": 1,
      "id": "6a50b882-98b0-4619-b409-e1c6870b00ac",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1740,
        20
      ],
      "typeVersion": 1,
      "id": "526cd4b7-6a1d-4d33-9fd9-62ae22afbbed",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -740,
        160
      ],
      "id": "e595769b-cc1c-4293-8e86-ebe787c4ce41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ztxrjk7sKGHE97v3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        260,
        160
      ],
      "id": "9dc48ff4-4be4-4837-8f67-9a391d8cebe6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ztxrjk7sKGHE97v3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1640,
        1220
      ],
      "id": "81a6059c-fd34-42a4-bae3-5e24af871a49",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ztxrjk7sKGHE97v3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f106ab40-0651-4e2c-acc1-6591ab771828",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1660,
        620
      ],
      "id": "c9189275-a430-4c14-9226-b481d047dea3",
      "name": "Webhook2",
      "webhookId": "f106ab40-0651-4e2c-acc1-6591ab771828"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZWU4MjUzMmU1N2E1ODU2ZjlhOTk2MTg3NTY3NGVhZGRmZGVlZWZhY2UyNDhmMzQ1MDQ0NTMxYjMxOTc2MzUwNDA0ODZkYjlmYTI1NTBlNzAiLCJpYXQiOjE3NTAyNTI0NTQuNzAxMjU3LCJuYmYiOjE3NTAyNTI0NTQuNzAxMjU4LCJleHAiOjQ5MDU5MjYwNTQuNjk2NzU3LCJzdWIiOiI3MjIzNjQyOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.mcJIogt3BLTgm7GFcdFmbr1zgG7gC3m3GOGuDGwM-l9iZUSsbjh0eHZoiFUceKBX71m61nKPbY1EC7FwUzEvzp5WbN3wO2v55Vr87dJyt_snXWHvHd8fy4885xLupQVty_rg9O4_so6zr3sE3mg7KxCKmEvqQiweBo_ei8mlfq9JJ1019UTRNB1l8yZXn8W5iqmu-ZMPphHeiVbvWL0n1SVU5kzfMxPGFHZwfUawDEObm0FlyQCrfTrFORyWfAWt7TZo-6LpeBBIGI-lpSBe8_lHWL0s0InmvAnoVfyTU80qgU7mZUCBY2_aTE81DAmF0D5yEWxzZJZ04_YRgkkE6NQFcii_YJAWyyoRyLJMCXxiVWlpWjxPOVfsC_t13LNVGizNml_lJKSRp1UL_Rx5t3ObWVWByIHX05TFiNZ1FAy6r0_mxcUr6Ux0wHNb30Rst9uZhHw62YetNoBTPaaab8bQwQMJCGfJ6yh4E7NkKDWCBoh-AeYHof7zDLLiyhm2LAS7lOpslrxhoghoDUZaPszsQ6KjjumNQ1SUe1_ksa9E3a9IF4hRlhFsjfi_GL2QTzJHv601LEkiMAFdko9qNd13kcN618vVN_QKCZZ4bfgOf0BCSMnqmICZ8sOO85niB2djL3d8eJe-liaWMAYKN4WI7Ieudfc79PY4Cw4hIck"
            },
            {
              "name": "Content Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-file\": {\n      \"operation\": \"import/url\",\n      \"url\": \"{{ $json.Url }}\"\n    },\n    \"convert-to-txt\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-file\",\n      \"input_format\": \"docx\",\n      \"output_format\": \"txt\",\n      \"filename\": \"{{ $binary.data.fileName.split('.').slice(0, -1).join('.') }}.txt\",\n      \"optimize_text\": true\n    },\n    \"export-text\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-to-txt\"\n    }\n  }\n}",
        "options": {}
      },
      "name": "HTTP Request (CloudConvert - Create Job)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -800,
        1680
      ],
      "id": "2adad4e6-c9d3-483c-bbab-fce6e35319b5"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/15E3p1scWjTE7cz25v6Gw0jtiAAisSJ4X/edit?usp=drive_link&ouid=114041935918803530248&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1140,
        1680
      ],
      "id": "8ee78163-b1c4-458e-8a8d-2ba0cc994046",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3yZ7OuSi4KKLskFL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fywmgiuvdbsjfchfzixc.supabase.co/storage/v1/object/public/docs/{{ $('Set File ID').item.json.file_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        1720
      ],
      "id": "cde8360a-69f5-492a-88c5-42dbfef4330a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://fywmgiuvdbsjfchfzixc.supabase.co/storage/v1/object/public/docs/{{ $('Set File ID').item.json.file_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        740
      ],
      "id": "cb512469-1d4d-4f6d-aafa-7460c0bbcf66",
      "name": "file download supabase."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        1680
      ],
      "id": "5ec7d959-6341-42a0-ae89-ed1d098a2bb0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.cloudconvert.com/v2/jobs/737be543-8496-4332-9c68-4e5e31b74610",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZWU4MjUzMmU1N2E1ODU2ZjlhOTk2MTg3NTY3NGVhZGRmZGVlZWZhY2UyNDhmMzQ1MDQ0NTMxYjMxOTc2MzUwNDA0ODZkYjlmYTI1NTBlNzAiLCJpYXQiOjE3NTAyNTI0NTQuNzAxMjU3LCJuYmYiOjE3NTAyNTI0NTQuNzAxMjU4LCJleHAiOjQ5MDU5MjYwNTQuNjk2NzU3LCJzdWIiOiI3MjIzNjQyOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.mcJIogt3BLTgm7GFcdFmbr1zgG7gC3m3GOGuDGwM-l9iZUSsbjh0eHZoiFUceKBX71m61nKPbY1EC7FwUzEvzp5WbN3wO2v55Vr87dJyt_snXWHvHd8fy4885xLupQVty_rg9O4_so6zr3sE3mg7KxCKmEvqQiweBo_ei8mlfq9JJ1019UTRNB1l8yZXn8W5iqmu-ZMPphHeiVbvWL0n1SVU5kzfMxPGFHZwfUawDEObm0FlyQCrfTrFORyWfAWt7TZo-6LpeBBIGI-lpSBe8_lHWL0s0InmvAnoVfyTU80qgU7mZUCBY2_aTE81DAmF0D5yEWxzZJZ04_YRgkkE6NQFcii_YJAWyyoRyLJMCXxiVWlpWjxPOVfsC_t13LNVGizNml_lJKSRp1UL_Rx5t3ObWVWByIHX05TFiNZ1FAy6r0_mxcUr6Ux0wHNb30Rst9uZhHw62YetNoBTPaaab8bQwQMJCGfJ6yh4E7NkKDWCBoh-AeYHof7zDLLiyhm2LAS7lOpslrxhoghoDUZaPszsQ6KjjumNQ1SUe1_ksa9E3a9IF4hRlhFsjfi_GL2QTzJHv601LEkiMAFdko9qNd13kcN618vVN_QKCZZ4bfgOf0BCSMnqmICZ8sOO85niB2djL3d8eJe-liaWMAYKN4WI7Ieudfc79PY4Cw4hIck"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request (CloudConvert - Get Job Status)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -260,
        1700
      ],
      "id": "1bae69dd-5a1b-4546-a17f-a16419f35ec1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZWU4MjUzMmU1N2E1ODU2ZjlhOTk2MTg3NTY3NGVhZGRmZGVlZWZhY2UyNDhmMzQ1MDQ0NTMxYjMxOTc2MzUwNDA0ODZkYjlmYTI1NTBlNzAiLCJpYXQiOjE3NTAyNTI0NTQuNzAxMjU3LCJuYmYiOjE3NTAyNTI0NTQuNzAxMjU4LCJleHAiOjQ5MDU5MjYwNTQuNjk2NzU3LCJzdWIiOiI3MjIzNjQyOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.mcJIogt3BLTgm7GFcdFmbr1zgG7gC3m3GOGuDGwM-l9iZUSsbjh0eHZoiFUceKBX71m61nKPbY1EC7FwUzEvzp5WbN3wO2v55Vr87dJyt_snXWHvHd8fy4885xLupQVty_rg9O4_so6zr3sE3mg7KxCKmEvqQiweBo_ei8mlfq9JJ1019UTRNB1l8yZXn8W5iqmu-ZMPphHeiVbvWL0n1SVU5kzfMxPGFHZwfUawDEObm0FlyQCrfTrFORyWfAWt7TZo-6LpeBBIGI-lpSBe8_lHWL0s0InmvAnoVfyTU80qgU7mZUCBY2_aTE81DAmF0D5yEWxzZJZ04_YRgkkE6NQFcii_YJAWyyoRyLJMCXxiVWlpWjxPOVfsC_t13LNVGizNml_lJKSRp1UL_Rx5t3ObWVWByIHX05TFiNZ1FAy6r0_mxcUr6Ux0wHNb30Rst9uZhHw62YetNoBTPaaab8bQwQMJCGfJ6yh4E7NkKDWCBoh-AeYHof7zDLLiyhm2LAS7lOpslrxhoghoDUZaPszsQ6KjjumNQ1SUe1_ksa9E3a9IF4hRlhFsjfi_GL2QTzJHv601LEkiMAFdko9qNd13kcN618vVN_QKCZZ4bfgOf0BCSMnqmICZ8sOO85niB2djL3d8eJe-liaWMAYKN4WI7Ieudfc79PY4Cw4hIck"
            },
            {
              "name": "Content Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-file\": {\n      \"operation\": \"import/url\",\n      \"url\": {{ $json.body.data.tasks[0].result.form.url }}\"\n    },\n    \"convert-to-txt\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-file\",\n      \"input_format\": \"docx\",\n      \"output_format\": \"txt\",\n      \"filename\": \"temp {{ $('Set File ID').item.json.file_id }}.txt\",\n      \"optimize_text\": true\n    },\n    \"export-text\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-to-txt\"\n    }\n  }\n}",
        "options": {}
      },
      "name": "HTTP Request (CloudConvert - Upload)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        20,
        1720
      ],
      "id": "7885419a-5803-4869-b5aa-0fcff4cebd19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZWU4MjUzMmU1N2E1ODU2ZjlhOTk2MTg3NTY3NGVhZGRmZGVlZWZhY2UyNDhmMzQ1MDQ0NTMxYjMxOTc2MzUwNDA0ODZkYjlmYTI1NTBlNzAiLCJpYXQiOjE3NTAyNTI0NTQuNzAxMjU3LCJuYmYiOjE3NTAyNTI0NTQuNzAxMjU4LCJleHAiOjQ5MDU5MjYwNTQuNjk2NzU3LCJzdWIiOiI3MjIzNjQyOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.mcJIogt3BLTgm7GFcdFmbr1zgG7gC3m3GOGuDGwM-l9iZUSsbjh0eHZoiFUceKBX71m61nKPbY1EC7FwUzEvzp5WbN3wO2v55Vr87dJyt_snXWHvHd8fy4885xLupQVty_rg9O4_so6zr3sE3mg7KxCKmEvqQiweBo_ei8mlfq9JJ1019UTRNB1l8yZXn8W5iqmu-ZMPphHeiVbvWL0n1SVU5kzfMxPGFHZwfUawDEObm0FlyQCrfTrFORyWfAWt7TZo-6LpeBBIGI-lpSBe8_lHWL0s0InmvAnoVfyTU80qgU7mZUCBY2_aTE81DAmF0D5yEWxzZJZ04_YRgkkE6NQFcii_YJAWyyoRyLJMCXxiVWlpWjxPOVfsC_t13LNVGizNml_lJKSRp1UL_Rx5t3ObWVWByIHX05TFiNZ1FAy6r0_mxcUr6Ux0wHNb30Rst9uZhHw62YetNoBTPaaab8bQwQMJCGfJ6yh4E7NkKDWCBoh-AeYHof7zDLLiyhm2LAS7lOpslrxhoghoDUZaPszsQ6KjjumNQ1SUe1_ksa9E3a9IF4hRlhFsjfi_GL2QTzJHv601LEkiMAFdko9qNd13kcN618vVN_QKCZZ4bfgOf0BCSMnqmICZ8sOO85niB2djL3d8eJe-liaWMAYKN4WI7Ieudfc79PY4Cw4hIck"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"uploadfile\": {  \n      \"operation\": \"import/url\",\n      \"url\": \"https://fywmgiuvdbsjfchfzixc.supabase.co/storage/v1/object/public/docs/user_{{ $json.user_id }}/{{ encodeURIComponent($json.title) }}\"\n\n\n    },\n\n    \"convert-to-txt\": {\n      \"operation\": \"convert\",\n      \"input\": \"uploadfile\", \n      \"input_format\": \"docx\",\n      \"output_format\": \"txt\",\n      \"filename\": \"tempFile {{ $json.id }}.txt\",\n      \"optimize_text\": true\n    },\n    \"export-text\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-to-txt\"\n    }\n  },\n  \"tag\": \"jobbuilder\"\n}\n",
        "options": {}
      },
      "name": "convert file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        180,
        960
      ],
      "id": "8a41935e-20b3-498c-935a-2c82d42ff343"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        960
      ],
      "id": "354208ed-ad36-4da4-8202-f4896671fae1",
      "name": "Wait1",
      "webhookId": "c1ffee54-505b-4d7f-8172-840998ec2b31"
    },
    {
      "parameters": {
        "url": "={{ $json.data.tasks[2].links.self }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZWU4MjUzMmU1N2E1ODU2ZjlhOTk2MTg3NTY3NGVhZGRmZGVlZWZhY2UyNDhmMzQ1MDQ0NTMxYjMxOTc2MzUwNDA0ODZkYjlmYTI1NTBlNzAiLCJpYXQiOjE3NTAyNTI0NTQuNzAxMjU3LCJuYmYiOjE3NTAyNTI0NTQuNzAxMjU4LCJleHAiOjQ5MDU5MjYwNTQuNjk2NzU3LCJzdWIiOiI3MjIzNjQyOSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.mcJIogt3BLTgm7GFcdFmbr1zgG7gC3m3GOGuDGwM-l9iZUSsbjh0eHZoiFUceKBX71m61nKPbY1EC7FwUzEvzp5WbN3wO2v55Vr87dJyt_snXWHvHd8fy4885xLupQVty_rg9O4_so6zr3sE3mg7KxCKmEvqQiweBo_ei8mlfq9JJ1019UTRNB1l8yZXn8W5iqmu-ZMPphHeiVbvWL0n1SVU5kzfMxPGFHZwfUawDEObm0FlyQCrfTrFORyWfAWt7TZo-6LpeBBIGI-lpSBe8_lHWL0s0InmvAnoVfyTU80qgU7mZUCBY2_aTE81DAmF0D5yEWxzZJZ04_YRgkkE6NQFcii_YJAWyyoRyLJMCXxiVWlpWjxPOVfsC_t13LNVGizNml_lJKSRp1UL_Rx5t3ObWVWByIHX05TFiNZ1FAy6r0_mxcUr6Ux0wHNb30Rst9uZhHw62YetNoBTPaaab8bQwQMJCGfJ6yh4E7NkKDWCBoh-AeYHof7zDLLiyhm2LAS7lOpslrxhoghoDUZaPszsQ6KjjumNQ1SUe1_ksa9E3a9IF4hRlhFsjfi_GL2QTzJHv601LEkiMAFdko9qNd13kcN618vVN_QKCZZ4bfgOf0BCSMnqmICZ8sOO85niB2djL3d8eJe-liaWMAYKN4WI7Ieudfc79PY4Cw4hIck"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        960
      ],
      "id": "b66c8bb6-63ec-4b0a-b68c-3c8ae98d1095",
      "name": "get result4"
    },
    {
      "parameters": {
        "url": "={{ $json.data.result.files[0].url }}",
        "options": {}
      },
      "name": "HTTP Request (Download Converted File)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        1000
      ],
      "id": "67943a64-8967-45c6-af22-6161db64a358"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "f55987d3-196d-4b2c-bce4-02c0d29b27b5",
          "chatInput": "try again",
          "metadata": {
            "userId": 2,
            "userEmail": "louiejaybonghanoy@gmail.com",
            "userName": "Louie J",
            "isPremium": true
          }
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json",
            "content-length": "344"
          },
          "params": {},
          "query": {},
          "body": {
            "file_id": 78,
            "file_name": "Paulo-Louie-CV.docx",
            "file_path": "user_9/Paulo-Louie-CV.docx",
            "mime_type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "public_url": "https://fywmgiuvdbsjfchfzixc.supabase.co/storage/v1/object/public/docs/user_9/Paulo-Louie-CV.docx",
            "user_id": 9,
            "user_email": "premium@gmail.com"
          },
          "webhookUrl": "http://localhost:5678/webhook/f106ab40-0651-4e2c-acc1-6591ab771828",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "convert file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Metadata Table": {
      "main": [
        [
          {
            "node": "Create Document Rows Table (for Tabular Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Documents Table and Match Function": {
      "main": [
        [
          {
            "node": "Create Document Metadata Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "file download supabase.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "file download supabase.": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request (CloudConvert - Get Job Status)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (CloudConvert - Get Job Status)1": {
      "main": [
        [
          {
            "node": "HTTP Request (CloudConvert - Upload)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert file": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "get result4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get result4": {
      "main": [
        [
          {
            "node": "HTTP Request (Download Converted File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Download Converted File)": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f781ecf4-e59b-486f-885c-80fea495a9eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "009d3b53ab292f8c0fe9086013e0bdd4782c12ce799c35f92bdc41179918350f"
  },
  "id": "NECiKAWea5jPeyL9",
  "tags": []
}